# Browser-dialable relay multiaddr.
# Production default uses the public TLS WebSocket relay.
VITE_RELAY_MULTIADDR=/ip4/95.217.163.72/tcp/8443/tls/sni/95-217-163-72.k51qzi5uqu5dma6jqaa7ij2x6pn2it5wokit6j6h0ygenjgfxyzg729zdcdvik.libp2p.direct/ws/p2p/12D3KooWSHiPfALRy8rGZ1o3L68hV5vuADQvBt57uZucN36YpK9D
